<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/classes/spring/applicationContext.xml</param-value>
  </context-param>
  <filter>
    <filter-name>compositeFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>compositeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <error-page>
    <error-code>401</error-code>
    <location>/common/401.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/common/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/common/500.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/common/500.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.ibusiness.common.sevlet.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/common/checkcode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>captchaAjax</servlet-name>
    <servlet-class>com.ibusiness.common.sevlet.CaptchaAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>captchaAjax</servlet-name>
    <url-pattern>/common/captchaAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manage</servlet-name>
    <servlet-class>com.ibusiness.common.sevlet.ManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manage</servlet-name>
    <url-pattern>/manage</url-pattern>
  </servlet-mapping>
</web-app>